<!-- <!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>HOME</title>
</head>

<body>
    <h1>Welcpme to other</h1>

</body>

</html> -->
<!-- It is always be present in the html file -->
<!DOCTYPE html>

<!-- FOR EXTEND THIS FILE TO BASE.HTML DO THIS -->
{% extends "basic_app/base.html" %}
    {% block body_block %}
       <h1>Welocme to other!</h1>
       <h2>This is an example of template inheritance!</h2>
    {% endblock %}